data/
processed_data_old
!src/data/
xclass*
.ipynb_checkpoints
explore.ipynb
experiments*
results
uploads
dump.py
processed_data
scripts
parameter_check.sh
run_goal_ex.sh
subcluster.py
static/scripts

# working on
__pycache__ 
scratch.txt
.vercel
